@page
@model pome.Pages_Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.product_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.product_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.product_description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.product_description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.product_price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.product_price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.product_image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.product_image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.time_expired)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.time_expired)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
